<div class="home">
    <div class="title">
        <h1> Welcome to The Web Shop Ski Resorts</h1>
        <h3>Winter Season 2022/23</h3>
    </div>
    <hr>
    <div class="description">
        <h4>Ski tickets purchased through webshop are personalized and not transferable to other persons.In the process
            of
            purchasing, accurate information, about each skier: first and last name, date from and date to.</h4>
        <h4>If the skiers do not obey these rules, the PE Ski Resort holds the right to cancel the ticket at any time
            without the right to refund.</h4>
    </div>
</div>